<html>

	<head>
		<link href="/stylesheets/vendor/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style type="text/css">
		#content {
			margin: 0 auto;
		}
		* {
			font-family: Arial
		}
		#links a {
			display: block;
			float: left;
			width: 180px;
			margin: 10px;
			background: #7C82FF;
			color: white;
			border-radius: 5px;
			text-decoration: none !important;
			text-align: center;
			transition: background 0.2s;
			font-size: 1.2em;
			font-style: italic;
			line-height: 2em;
		}
		#links a i {
			font-size: 3em;
			line-height: 1.5em;
		}
		#links a:hover {
			background: #a4edba;
		}

		</style>
		<title>Highcharts Utilities</title>
	</head>

	<body>
		<div id="content">
			<h1>Highcharts Utilities</h1>

			<div id="links">
				<a href="samples">
					<i class="fa fa-columns"></i><br/>
					View samples
				</a>
				<a href="bisect">
					<i class="fa fa-github"></i><br/>
					Bisect
				</a>
				<a href="draft">
					<i class="fa fa-mobile"></i><br/>
					Draft
				</a>
				<!--a href="issue-stats">
					<i class="fa fa-bar-chart"></i><br/>
					Issue statistics
				</a>
				<a href="benchmark">
					<i class="fa fa-time"></i><br/>
					Benchmark tests
				</a-->
			</div>
		</div>
	</body>
</html>
