table {
    border-collapse: collapse;
}
/*
table th *, table td *{
    display: none;
}
table th, table td {
    height: 3px;
}
*/
table td {
    border: 1px solid silver;
    text-align: left;
    padding: 0.1em 0.5em;
    text-align: right;
    font-size: 8px;
    max-width: 16px;
    overflow-x: hidden;
}
table td.active {
    cursor: pointer;
}
table th {
    font-weight: normal;
}
table thead th {
    height: 140px;
    white-space: nowrap;
}
table thead th > div {
    transform: translate(18px, 51px) rotate(315deg);
    width: 30px;
}
table thead th > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 12px;
}
table th.path {
    text-align: right;
    padding-right: 0.5em;
}
table tr:hover {
    background: #eee;
}
table tr.active {
    background: #7cb5ec;
}
img {
    position: absolute;
    border: 1px dotted silver;
}

#main {
    height: 50%;
    overflow-y: auto;
}

#comparison {
    width: 600px;
    position: fixed;
    bottom: 1em;
    left: 5em;
    background: white;
    padding: 2em;
    box-shadow: 0 0 16px #888888, 0 0 16px #888888;
    display: none;
}
#main #comparison { /* in the nightly-single page */
    width: auto;
    position: static;
    box-shadow: none;
}
#comparison h1 {
    margin-top: 0;
    padding-top: 0;
}
#close-comparison {
    float: right;
}
#comparison #images {
    height: 400px;
    width: 600px;
    transition: height 250ms;
}