.highcharts-light {
	color-scheme: light;
}

.highcharts-dark {
	color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
}

:root {
	--background-color: light-dark(#f6f6f6, #333333);
	--card-background: light-dark(#ffffff, #141414);
	--text-color: light-dark(black, #eee);
	--link-color: light-dark(#039, #bbe5ff);
	--separator-color: light-dark(#373648, #999);
}

body {
	margin: 0;
	background: var(--background-color);
	color: var(--text-color);
	transition: background 250ms, color 250ms;
	font-family: Arial, Helvetica, sans-serif;
}

body.page {
	margin: 1em;
	font-size: 16px;
  	line-height: 1.6;
}

body.page h1 {
	padding-bottom: 0.3em;
	font-size: 2.25em;
	line-height: 1.2;
	border-bottom: 1px solid #eee;
}

a {
	color: var(--link-color);
}

.top-bar {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 0.8em;
	background: #333333;
	box-shadow: 0px 0px 8px #000;
}
.top-bar h2 {
	overflow: visible;
	padding: 5px;
}
.top-bar-menu {
	background: #141414;
	padding: 5px;
}
.top-bar .sample-name {
	margin: 0;
}
.top-bar .burger {
	position: absolute;
	right: 0.5rem;
}

#quick-settings {
    border-top: 1px solid #373648;
    margin: 0.5em 1em;
}

#theme-button {
	position: relative;
}
#theme-button select {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.01;
	left: 0;
	top: 0;
	cursor: pointer;
}
#popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 1000;
}
#popup-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em;
	background: #47475C;
	color: white;
	font-size: 2em;
	cursor: pointer;
}
#popup iframe {
	margin: 20px;
	width: 90%;
	height: 90vh;
	border: none;
}

.topframe .topframe-hidden {
	height: 0;
	overflow-y: hidden;
	transition: height 250ms;
	padding: 0 5px;
}
.topframe .top-bar:hover .topframe-hidden {
	height: 4em;
}


#version {
	position: absolute;
	right: 3rem;
	color: silver;
	font-size: 0.6rem;
	line-height: 2.4rem;
	padding-right: 1em;
}
#main-content {
	float: right;
	width: 100%;
	transition: width 500ms;
}
#demo-content {
	margin: 1em;
	border-radius: 4px;
	background: var(--card-background);
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: width 250ms, background 250ms, color 250ms;
}

body.mobile-preview #demo-content {
	margin: 1em auto;
	width: 370px;
}

.top-bar, .top-nav, #samples-nav, #button-row {
	input {
		line-height: 2em;
	}

	.buttons a,
	a.button,
	button,
	input.button,
	input[type="submit"],
	label.button {
		padding: 0.5em 1em;
		text-decoration: none;
		font-size: 1.1em;
		white-space: nowrap;
		cursor: pointer;
		line-height: 1.5em;
		display: inline-block;
		transition: border-color 250ms;
	}

	.button svg.button-icon {
		width: 16px;
		height: 16px;
		vertical-align: text-bottom;
	}
}

.top-bar {

	.buttons a, a.button, button, input.button, label.button {
		border: 1px solid #444;
		border-radius: 4px;
		background: #333;
		color: white;
		transition: background 250ms;
		padding: 3px 6px;
		margin: 3px;
		min-width: 24px;
		text-align: center;
	}

	label.button input[type="radio"] {
		display: none;
	}

	.buttons a:hover, a.button:hover, button:hover, input.button:hover, label.button:hover {
		background: #47475c;
		color: white;
	}
	.buttons a.active,
	a.button.active,
	button.active,
	input.button:active,
	label.button.active,
	label.button:has(input[type="radio"]:checked) {
		border: 1px solid #888;
		background: #447;
	}

	.button-group label.button,
	.button-group a.button {
		margin: 3px 0;
		border-radius: 0;
		border-right-width: 0;
	}

	.button-group label.button:first-child,
	.button-group a:first-child {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.button-group label.button:last-child,
	.button-group a:last-child {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-right-width: 1px;
	}

	.button-text {
		display: none;
	}
}
.mobile .top-bar .mobile-hide {
	display: none;
}

.top-bar-menu .dropdown {
	position: absolute;
	top: 5em;
	z-index: 100;
	display: none;
}

.top-bar-menu .dropdown-inner {
	background: #373648;
	padding: 1em;
	box-shadow: 1px 3px 8px #37364888;
}

.error-message {
	font-family: Arial, Helvetica, sans-serif;
	background: #f15c80;
	color: white;
	border-radius: 3px;
	padding: 5em;
	max-width: 600px;
	margin: 1em auto;
}

.test-report {
	border-radius: 5px;
	color: white;
	margin-bottom: 0.5em;
	border: 1px solid silver;
	font-size: 0.8em;
	padding: 0.5em;
}

.test-report.pass {
	background: #a4edba;
	color: black;
}

.test-report.fail {
	background: #f15c80;
	color: white;
}

#frame-row {
	width: 1360px;
	visibility: hidden;
	position: absolute;
	height: 0;
	transition: height 500ms;
}
#comment-iframe {
	height: 85px;
	width: calc(100% - 2px);
	border: none;
}
.preview-tabs span {
	display: inline-block;
	opacity: 0.5;
	border: 1px solid silver;
	border-radius: 4px;
	padding: 0.5em;
	margin-bottom: -4px;
	margin-left: 0.5em;
	cursor: pointer;
}
.preview-tabs span.active {
	opacity: 1;
	background: var(--card-background);
}
#preview-row {
	width: 1280px;
	display: flex;
}
.preview-cell {
	position: relative;
	min-width: 600px;
	min-height: 400px;
}
.preview-cell h4 {
	padding: 0.5em;
	margin: 0;
}
.preview-cell:first-child {
	padding-right: 10px;
}
.preview-cell:last-child {
	padding-left: 10px;
	border-left: 1px solid silver;
}

pre#svg {
	padding: 1em;
	border: 1px solid #888;
	border-radius: 4px;
	background-color: var(--card-background);
	width: calc(100% - 2em - 2px);
	overflow-x: auto;
	overflow-y: auto;
	display: none;
	height: 0;
	max-height: 80vh;
}
del {
	color: white;
	background-color: red;
	border-radius: 3px;
	padding: 0 3px;
}
ins {
	color: white;
	background-color: green;
	border-radius: 3px;
	padding: 0 3px;
}
body.visual iframe {
	display: inline-block;
	width: 600px;
	height: 400px;
	border: 1px dotted gray;
}

body.single-col #button-row {
	display: none;
}
body.single-col #frame-row {
	width: auto;
	visibility: visible;
	position: static;
}
body.unit iframe {
	width: 100%;
	height: 100vh;
	border: none;
}
body.manual iframe {
	width: 100%;
	height: 600px;
	border: none;
}

body.single-col #report, body.single-col #svg, body.single-col #preview {
	display: none;
}
body.manual #comment-placeholder {
	vertical-align: top;
}

svg .highcharts-background {
	transition: fill 250ms, stroke 250ms;
}

.description {
	max-width: 800px;
	margin: 0 auto;
	padding: 2em 1em;
	font-family: Arial, Helvetica, sans-serif;
}
.test-notes {
	margin: 0 0 1em 0;
	padding: 1em;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	background-color: #88888811;
	font-family: Arial, Helvetica, sans-serif;
}
.test-notes-content {
	max-width: 800px;
}
.test-notes header {
	font-weight: bold;
	margin: 0.5em 0;
}
.test-notes div {
	font-size: 0.9em;
}
.mobile-shortcut {
	margin: 1em;
}

#samples-nav a {
	background: #efefef;
	border-radius: 2px;
	margin: 0.25em;
}
#samples-nav a.active {
	background: #a4edba;
}

.nightly {
	font-size: 0.8em;
	padding: 0.5em 0;
}

/* QUnit, follow the theme */
body.unit #preview-row {
	display: none;
}
#qunit {
	/*display: none;*/
}
#qunit-header {
	display: none;
}
#qunit-banner {
	border-radius: 5px 5px 0 0;
}
#qunit-tests li li.fail {
	border-left: 10px solid #f15c80 !important;
}
#qunit-tests li.fail {
	background-color: #f15c80 !important;
}
#qunit-tests li ol li.fail {
	background-color: inherit !important;
}
#qunit-tests .fail .test-actual {
	color: #f15c80 !important;
}
#qunit-banner.qunit-fail {
	background-color: #f15c80 !important;
}
#qunit-tests li li.pass {
	border-left: 26px solid #a4edba !important;
}
#qunit-banner.qunit-pass {
	background-color: #a4edba !important;
}

.highcharts-stocktools-wrapper {
	display: none;
}

#settings-form {
	display:inline
}

.edit-mode #next,
.edit-mode #compare-button,
.edit-mode #bisect,
.edit-mode #share,
.edit-mode #profile,
.edit-mode #time
{
	display: none;
}

/* Dark mode / Light mode */
body.highcharts-light {
	background: #f6f6f6;;
	color: black;
}
.highcharts-light #demo-content {
	background: white;
	color: black;
}

@media (max-width: 500px) {
	.top-bar button, .top-bar a.button, .top-bar label.button {
    	color: white;
    	background: none;
    	padding: 0 0.7em;
    	margin: 0;
    	font-size: 1.5em;
    }
    .top-bar button i, .top-bar a.button i,  .top-bar label.button i {
    	display: inline-block;
    	font-size: 1.2em
    }
	.top-bar a.button.mobile-hide {
		display: none;
	}
}

