<script type="module" src="/modules/pulls.js"></script>

<style>
    #main {
        padding: 1em;
        margin: 0 auto;
    }
    #canban {
        display: flex;
    }
    .column {
        width: 33%;
        padding: 1em;
        box-sizing: border-box;
    }
    .draft {
        opacity: 0.5;
    }
    .pull a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }
    button#refresh i.state-disabled {
        display: none;
    }
    button#refresh:disabled i.state-disabled {
        display: inline-block;
    }
    button#refresh:disabled i.state-enabled {
        display: none;
    }

</style>

<div id="main">
    <button id="refresh" type="button" class="btn btn-primary" disabled>
        <i class="state-enabled fa fa-refresh"></i>
        <i class="state-disabled fa fa-refresh fa-spin"></i>
        Refresh
    </button>
    <div id="canban">
        <div class="column">
            <h4 class="mt-1">Drafts</h4>
            <ul id="drafts" class="list-group"></ul>
        </div>

        <div class="column">
            <h4 class="mt-1">Read pulls</h4>
            <ul id="pulls-read" class="list-group"></ul>
        </div>

        <div class="column">
            <h4 class="mt-1">Unread pulls</h4>
            <ul id="pulls" class="list-group"></ul>
        </div>
    </div>
</div>