<script type="module" src="/modules/pulls.js"></script>

<style>
    #main {
        padding: 1em;
        margin: 0 auto;
    }
    #canban {
        display: flex;
    }
    .column {
        width: 19%;
        padding: 1em;
        box-sizing: border-box;
    }
    .draft {
        opacity: 0.5;
    }
    .pull a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }
    button#refresh i.state-disabled {
        display: none;
    }
    button#refresh:disabled i.state-disabled {
        display: inline-block;
    }
    button#refresh:disabled i.state-enabled {
        display: none;
    }
    #error {
        display: none;
        background: red;
        margin: 5em;
        padding: 5em;
    }
    #error, #error * {
        color: white;
    }
    .state-pending {
        color: orange;
    }
    .state-failure {
        color: red;
    }
    .state-success {
        color: green;
    }

    .reviews {
        margin-left: 1em;
        border: 1px solid silver;
        border-radius: 50rem;
        font-size: .8em;
        padding: .35em .65em 0.5em 0.65em;
        white-space: nowrap;
        color: gray;
        white-space: nowrap;
        display: inline-block;
    }
    .review {
        vertical-align: middle;
        margin: 0.3em;
        position: relative
    }
    .review-mine-marker {
        position: absolute;
        top: 0.5em;
        left: 0.25em;
    }
    .reviews:hover .review-pending {
        color: orange;
    }
    .reviews:hover .review-changes-requested {
        color: red;
    }
    .reviews:hover .review-approved {
        color: green;
    }


</style>

<div id="main">
    <button id="refresh" type="button" class="btn btn-primary" disabled>
        <i class="state-enabled fa fa-refresh"></i>
        <i class="state-disabled fa fa-refresh fa-spin"></i>
        Refresh
    </button>
    <div id="canban">
        <div class="column">
            <h4 class="mt-1">Drafts</h4>
            <ul id="drafts" class="list-group"></ul>
        </div>

        <div class="column">
            <h4 class="mt-1">Read pulls</h4>
            <ul id="pulls-read" class="list-group"></ul>
        </div>

        <div class="column">
            <h4 class="mt-1">Unread pulls</h4>
            <ul id="pulls" class="list-group"></ul>
        </div>

        <div class="column">
            <h4 class="mt-1">Issues</h4>
            <ul id="issues" class="list-group"></ul>
        </div>

        <div class="column">
            <h4 class="mt-1">Feature requests</h4>
            <ul id="feature-requests" class="list-group"></ul>
        </div>
    </div>
    <div id="error"></div>
</div>