<style type="text/css">
	{{{css}}}
	@font-face {
  		font-family: "Open Sans";
  		src: url("/fonts/OpenSans-Regular.woff") format("woff");
	}
	/* Force the font family for container and svg, to ensure equal comparison
	when external fonts have not finished loading */
	#container,
	svg {
    	font-family: Helvetica, Arial, sans-serif !important;
	}

</style>


{{#if unitTestsFile}}
<div id="qunit"></div>
<div id="qunit-fixture"></div>
{{/if}}

{{{html}}}

<script>
// Set options, overrides etc.
setUpHighcharts();
</script>
<script>
try {

// Override and point to local resources
if (controller) {
	$.getJSON = controller.getJSON;
	Highcharts.getJSON = controller.getJSON;
	window.fetchNative = window.fetch;
	window.fetch = controller.fetch.bind(window);
}

{{{js}}}

} catch (e) {
	console.error(e);
	parent.window.onDifferent('Err');
}
</script>
