<style type="text/css">
	{{{css}}}
	@font-face {
  		font-family: "Open Sans";
  		src: url("/fonts/OpenSans-Regular.woff") format("woff");
	}
</style>


{{#if unitTestsFile}}
<div id="qunit"></div>
<div id="qunit-fixture"></div>
{{/if}}

{{{html}}}

<script>
// Set options, overrides etc.
setUpHighcharts();
</script>
<script>
try {

// Override and point to local resources
if (controller) {
	$.getJSON = controller.getJSON;
	Highcharts.getJSON = controller.getJSON;
}

{{{js}}}

} catch (e) {
	console.error(e);
	parent.window.onDifferent('Err');
}
</script>
