
{{> nav }}

<div id="main-content">
	<div style="margin: 1em">

		<div class="test-report" id="skip-test-info"
				style="background: #a4edba; color: black; display: none">
			<p>This sample has been marked <code>skipTest: true</code> in the demo.details file.</p>
			<p>It means that the sample exists only for demonstration in the docs or
			the API, and that the feature we are testing is either covered by a unit
			test or	another visual sample.</p>
		</div>

		<div style="display: flex">
			<div id="report" class="test-report" style="width: 30%"></div>

			<div id="comment-placeholder" style="width: 65%"></div>
		</div>


		<div id="preview-row">
			<div class="preview-cell">
				<div class="preview-tabs">
					<span id="preview-reference">Reference</span>
					<span id="preview-candidate">Candidate</span>
				</div>
				<div id="preview">
					<canvas id="cnvLeft" style="display:none"></canvas>
					<canvas id="cnvRight" style="display:none"></canvas>
				</div>
			</div>
			<div class="preview-cell">
				<p>Computed difference</p>
				<div id="diff-preview">
					<canvas id="cnvDiff"></canvas>
				</div>
			</div>
		</div>


		<div id="frame-row"></div>
		<pre id="svg"></pre>

		<div style="margin: 1rem 0" id="button-row">
			<button id="view-frame-row">Show active charts</button>
			<button id="view-svg">Show file diff</button>
		</div>


	</div>
</div>