
<script>
	/* eslint-disable */
	var $ = parent.window.$;
	var controller = parent.window.controller;
	var diffThreshold = 0;

	function countFails() {
		$('#count-fails', document).html(
			'(' + ($('#main-nav li', document).length -
			$('#main-nav li.identical, #main-nav li.approved', document).length) + ')');
	}

	$(window).load(function () {

		$(window).bind('keydown', parent.keyDown);

		// On clicking anywhere but the batch-compare button
		$(window).bind('click', function (e) {
			controller.stopBatch();
			controller.toggleBisect(false);
		});

		$("#batch-compare", document).click(function (e) {
			e.stopPropagation();
			controller.runBatch();
		});
		$("#batch-stop", document).click(controller.stopBatch);

		$('#reset', document).click(function () {
			if (
				confirm(
					'Do you want to reset the compare history?\n' +
					'Results from all browsers will be lost.\n\n' +
					'You may also have to restart the node server to clear cache.'
				)
			) {
				Object.keys(controller.compare).forEach(function (key) {
					delete controller.compare[key];
				});
				$.getScript('/samples/compare-reset');
			}
		});

		$('#reload', document).click(function () {
			window.location.reload();
		});

		var fails = 0;
		$('#fails-only', document).click(function () {

			fails = (fails + 1) % 3;
			if (fails === 1) { // Hide passed tests
				$('#filtered', document).css('display', 'block');
				$('#main-nav h2, #main-nav h4, #main-nav li.identical, #main-nav li.approved', document).css('display', 'none');

			} else if (fails === 2) { // Hide manual tests
				$('#main-nav li.manual', document).css('display', 'none');

			} else if (fails === 0) { // Reset
				$('#filtered', document).css('display', 'none');
				$('#main-nav li', document).css('display', '');
			}


		});

		$('a.button', document).each(function () {
			$(this).click(function () {

				var route = this.href.split('/samples/')[1];
				if (route) {
					window.parent.location.hash = '#' + route;
				}
			});
		});

		$('#product-jump', document).change(function (e) {
			document
				.getElementById(e.target.value)
				.scrollIntoView({ behavior: 'smooth' });

		});

		// Jump to top
		$('#to-top a', document).click(() => {
			document.getElementById('main-nav')
				.scrollTo({ top: 0, behavior: 'smooth' });
		});

		// Set compare mode
		/*
		document.getElementById('comparemode-' + controller.compareMode).checked = true;
		document.querySelectorAll('.comparing input').forEach(function (node) {
			node.addEventListener('change', function (e) {
				if (e.target.value !== controller.compareMode) {
					controller.compareMode = e.target.value;
					controller.loadCompare();
					window.location.reload();
				};
			});
		});
		document.getElementById('comparemode-local-label').title = controller.server.branch;
		*/

		countFails();

	});

</script>
<script type="module" src="/modules/contents.js"></script>
<style type="text/css">
	* {
		font-family: Arial, Verdana;
	}

	body {
		background: #F6F6F6;
		padding-right: 1em;
	}

	#changed-samples {
		position: fixed;
		left: 0px;
		z-index: 10;
		background: white;
		padding: 0 10px;
		width: 100%;
		box-sizing: border-box;
		border-bottom: 3px solid #373648;
	}
	#changed-samples h4 {
		margin: 0;
		padding: 1em 0;
		border-bottom: 1px solid #ddd;
	}
	#changed-samples-body {
		overflow-y: auto;
		max-height: 20vh;
		padding: 0.5em 0;
		transition: max-height 250ms, padding 250ms;
	}

	#changed-samples.collapsed #changed-samples-body {
		max-height: 0;
		padding: 0;
	}

	#changed-samples .fa-caret-down {
		transition: transform 250ms;
	}
	#changed-samples.collapsed .fa-caret-down {
		transform: rotate(-90deg);
	}

	#changed-samples a {
		display: block;
	}
	#changed-samples h4 a {
		display: inline-block;
	}

	#changed-samples h4 a.toggle {
		color: #333;
	}


	#changed-samples h4 a.close-icon {
		float: right;
	}
	#to-top {
		position: absolute;
		bottom: 1em;
		left: 40%;
	}
	#to-top a {
		color: white;
		display: block;
		padding: 0.5em;
		background: #34343e;
		border-radius: 3px;
	}
	li, a, p, div, span {
		font-size: 12px;
	}
	ul {
		margin-left: 0;
		padding-left: 0;
	}
	li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
	a {
		text-decoration: none;
	}

	h2 {
		border-bottom: 1px solid gray;
		text-transform: uppercase;
	}
	* + h2 {
		margin-top: 40px;
	}
	li {
		border: 1px solid #F6F6F6;
		background: white;
		border-radius: 5px;
		padding: 0.3em 0.2em;
		position: relative;
	}
	li a {
		max-width: 80%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		white-space: nowrap;
		vertical-align: bottom;
	}
	li.visited a {
		color: gray;
	}
	.hidden {
		display: none;
	}

	.progress {
		margin: 0 -10px 30px -10px;
		position: relative;
	}
	.progress div {
		height: 1em;
		float: left;
		margin-top: 10px;
	}
	.progress div.success {
		background: #a4edba;
	}
	.progress div.error {
		background: #f15c80;
	}
	.progress div.remaining {
		background: #efefef;
	}
	.progress .time-elapsed {
		position: absolute;
		color: gray;
	}
	.success {
		color: #a4edba;
	}
	.progress a#error-count {
		position: absolute;
		top: 0.2em;
		background-color: #f15c80;
		text-decoration: none !important;
		border-radius: 0.3em;
		padding-inline: 0.2em;
		margin-left: -0.5em;
	}
	#top-nav .text a.error {
		color: #f15c80;
	}
	#top-nav .text a.remaining {
		color: #efefef;
	}
	li.different, li.different a {
		background: #f15c80;
		color: white;
		font-weight: bold;
	}
	li.skip, li.skip a {
		background: #F4FF77;
		color: #039;
	}
	.dissimilarity-index.skip {
		color: silver;
	}

	li.identical, li.identical a, li.approved, li.approved a {
		background: #a4edba;
		color: #039;
		font-weight: normal;
	}


	li.hilighted {
		border-color: black;
		border-left-width: 1em;
	}

	#search-container {
		position: relative;
	}

	#search {
		width: 99%;
		margin-top: 0.5em;
		padding: 0.2em;
	}

	#search-clear {
		position: absolute;
		right: 0.3em;
		top: 0.75em;
		color: #999;
		cursor: pointer;
		font-size: 1.3em;
	}

	body {
		margin: 0;
	}
	#top-nav {
		color: white;
		font-family: Arial, sans-serif;
		padding: 10px;
		background: #34343e;
		box-shadow: 0px 0px 8px #888;
		box-sizing: border-box;
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
		text-align: center;
	}
	#top-nav .text {
		padding-top: 0.5em;
	}
	#top-nav .text a {
		color: white;
		text-decoration: underline;
	}
	#top-nav a.button {
		font-size: 1.5em;
		line-height: 1em;
		padding: 0em 0.3em;
		background: none;
		color: white;
	}
	#top-nav #product-jump {
		line-height: 1.5em;
		padding: 0em 0.3em;
		vertical-align: top;
		width: 1.5em;
	}
	#main-nav {
		bottom: 0;
		box-sizing: border-box;
		left: 0;
		overflow: auto;
		padding: 10px;
		position: fixed;
		top: 0;
		width: 100%;
		transition: top 250ms;
	}
	#batch-stop {
		display: none;
	}
	.icons {
		position: absolute;
		right: 2px;
		top: 0;
		background: inherit;
	}
	.icons a {
		margin: 0.3em;
	}
	.nightly-single {
		/*
		position: absolute;
		right: 3em;
		*/
	}
	.standalone {
		/*
		position: absolute;
		right: 7em;
		*/
	}
	.dissimilarity-index {
		/*
		position: absolute;
		right: 0.2em;
		*/
	}
	.comment {
		/*
		position: absolute;
		right: 5em;
		*/
	}
	.comment-title {
		display: none;
		position: absolute;
		width: 200px;
		background: white;
		color: black;
		padding: 20px;
		right: -3em;
		z-index: 2;
		border: 1px solid silver;
	}
	.comment:hover .comment-title {
		display: block;
	}
	#filtered {
		display: none;
		margin: 1em 0;
		padding: 1em;
		border: 1px solid #7cb5ec;
		border-radius: 0.5em;
	}
	#test-status {
		text-align: center;
	}

</style>



<div id="top-nav">
	<a class="button" href="/samples/readme" target="main">
		<i class="fa fa-home"></i>
	</a>
	<a class="button" id="batch-compare" title="Batch test all samples">
		<i class="fa fa-play"></i>
	</a>
	<a class="button" id="batch-stop" title="Stop comparing">
		<i class="fa fa-pause"></i>
	</a>
	<a class="button" href="/samples/compare-report" title="View compare history for all browsers" target="main">
		<i class="fa fa-list"></i>
	</a>
	<a class="button" id="reset" title="Clear test history for all browsers">
		<i class="fa fa-trash"></i>
	</a>
	<a class="button" id="settings" title="Session settings"
		href="/samples/settings" target="main">
		<i class="fa fa-cog"></i>
	</a>
	<a class="button" id="nightly" title="Nightly"
		href="/samples/nightly" target="main">
		<i class="fa fa-moon-o"></i>
	</a>
	<a class="button" id="reload" title="Reload frame">
		<i class="fa fa-refresh"></i>
	</a>
	<select id="product-jump" title="Jump to product samples">
		<option value="">-</option>
	</select>

	<div class="text" id="test-status"></div>

	<input type="search" id="search" list="top-folders-list" />
	<datalist id="top-folders-list"></datalist>

	<!--
	<div class="comparing" style="padding-top: 0.5em">
		<form id="comparemode">
			Comparing:
			<label id="comparemode-local-label">
				<input type="radio" name="comparemode" id="comparemode-local" value="local"> Local branch
			</label>
			<label>
				<input type="radio" name="comparemode" id="comparemode-nightly" value="nightly"> Nightly
			</label>
		</form>
	</div>
	-->
</div>


<div id="main-nav">
	<div id="changed-samples" class="hidden"></div>
</div>

<div id="to-top">
	<a href="#top-nav">↑ Top</a>
</div>

<script>
controller.loadSamples(() => {
	// Search
	controller.focusSearch();
	controller.activateSearch();
});
</script>
