<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>Sample viewer - Highcharts</title>
		<script src="/javascripts/vendor/jquery-1.11.1.js"></script>
		<script src="/javascripts/vendor/jsdiff.js"></script>
		<script src="/javascripts/vendor/rgbcolor.js"></script>
		<script src="/javascripts/vendor/canvg.js"></script>
			

		<script src="/javascripts/controller.js"></script>
		<script src="/javascripts/sample.js"></script>
		<script>

		
		/* eslint-disable */
		function keyDown(e) {
			if (e.keyCode === 39) {
				document.getElementById('main').contentWindow.next();
			}
			if (e.keyCode === 37) {
				document.getElementById('main').contentWindow.previous();
			}
			if (e.ctrlKey && e.keyCode === 13) {
				document.getElementById('main').contentWindow.location.reload();
				return false;
			}
		}
		controller.onLoad.push(function () {
			var hash = window.location.hash,
				match
				main = 'view';

			window.onkeydown = keyDown;

			if (hash) {
				// View
				match = hash.match(/^#view\//);
				if (match) {
					main = '/samples/view?path=' + hash.replace(match[0], '');
				}

				// Test
				match = hash.match(/^#test\//);
				if (match) {
					main = '/samples/compare-view?path=' + hash.replace(match[0], '');
				}
				
				// Batch test
				match = hash.match(/^#batch\//);
				if (match) {
					controller.batchMode();
					main = '/samples/compare-view?path=' +
						hash.replace(match[0], '');
				}
				
				document.getElementById('main').contentWindow
					.location.href = main;

			}
		});

		var commits = [];


		$.getJSON('/samples/server-env', function (data) {
			controller.server = data;
			controller.loadCompare();
		});

		</script>
	</head>	

	<frameset cols="400, *">
		<frame src="/samples/contents" name="contents" id="contents">
		<frame src="/samples/readme" name="main" id="main">
	</frameset>

</html>