
<style>
	.folder-contents {
		display: none;
	}
</style>

<div style="margin: 10px">
	<h1>Mobile and legacy browser testing landing page</h1>

	<p>Load this page from <a href="http://{{ipAddress}}:3030/samples/mobile">
	http://{{ipAddress}}:3030/samples/mobile</a> to test on the local network.

	<div id="samples-nav">

	</div>
</div>