<style>
table {
    border-collapse: collapse;
}
table td {
    border: 1px solid silver;
    text-align: left;
    padding: 0.1em 0.5em;
    text-align: right;
}
table td.active {
    cursor: pointer;
}
table th.path {
    text-align: right;
}
img {
    position: absolute;
    border: 1px dotted silver;
}

#main {
    height: 50%;
    overflow-y: auto;
}

#comparison {
    height: 500px;
    width: 600px;
    position: fixed;
    bottom: 1em;
    left: 5em;
    background: white;
    padding: 2em;
    box-shadow: 0 0 16px #888888, 0 0 16px #888888;
    display: none;
}
#close-comparison {
    float: right;
}
</style>

<div id="main">
    <h1>Nightly build comparison table (WIP)</h1>
    <table id="table">

    </table>
</div>

<div id="comparison">
    <a id="close-comparison" href="javascript:;">
        <i class="fa fa-times fa-2x"></i>
    </a>
    <p id="image-status"></p>
    <div id="images">
        <img id="reference" style="z-index: 1"/>
        <img id="candidate" style="z-index: 2"/>
    </div>
</div>