<style>
table {
    border-collapse: collapse;
}
table td, table th {
    border: 1px solid silver;
    text-align: left;
    padding: 0.5em
}
img {
    position: absolute;
    border: 1px dotted silver;
}
</style>


<h1>Nightly build comparison table (WIP)</h1>
<table id="table">

</table>

<div id="comparison">
    <p id="image-status"></p>
    <img id="reference" style="z-index: 1"/>
    <img id="candidate" style="z-index: 2"/>
</div>