<link href="/stylesheets/vendor/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">

<div id="main">
    <div id="comparison">
        <a id="close-comparison" href="javascript:;">
            <i class="fa fa-times fa-2x"></i>
        </a>

        <h1 id="comparison-path"></h1>
        <p id="image-status"></p>
        <div id="images">
            <img id="reference" style="z-index: 1"/>
            <img id="candidate" style="z-index: 2"/>
        </div>
        <pre id="bisect"></pre>
    </div>

    {{#if nightlyResult}}
    <div class="nightly-result">
        {{#if nightlyResult.comment}}
        <h3>Nightly test result</h3>
        <p>
            <b><i class="fa fa-{{nightlyResult.comment.symbol}}"></i>
            {{nightlyResult.comment.diff}} changed pixels</b>.
            {{nightlyResult.comment.title}}
        </p>
        {{/if}}
    </div>
    {{/if}}
</div>
<script>
    compare('{{path}}', Date.now());
</script>