
<div style="padding: 10px; max-width: 800px; margin: 0 auto">
{{{readme}}}

<p>For testing across network, load <a target="_top" href="http://{{ipAddress}}:3030/samples">http://{{ipAddress}}:3030/samples</a>.</p>
</div>
